@model SistemaWebEficienciaOperativa.Models.tbProductos
@{
    ViewBag.Title = "Agregar Producto";
    //Layout = null;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container mt-4">
    <h2>Agregar Producto</h2>

    @using (Html.BeginForm("AgregarProducto", "GestionCarta", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Tipo de Producto")
            @Html.DropDownList("TipoProducto", (SelectList)ViewBag.TipoProducto, "Selecciona un Tipo de Producto", new { @class = "form-control", id = "TipoProducto", required = "required" })
        </div>

        <div class="form-group">
            @Html.Label("Categoría")
            @Html.DropDownListFor(m => m.idCategoria, new SelectList(Enumerable.Empty<SelectListItem>()), "Seleccione una Categoría", new { @class = "form-control", id = "Categoria", required = "required" })
        </div>

        <div class="form-group">
            @Html.Label("Nombre del nuevo Producto")
            @Html.TextBoxFor(m => m.nombre, new { required = "required" })
        </div>

        <div class="form-group">
            @Html.Label("Tipo de Medida")
            @Html.DropDownListFor(m => m.idTipoMedida, (SelectList)ViewBag.TipoMedida, "Selecciona una Tipo de medida", new { @class = "form-control", id = "TipoMedida", required = "required" })
        </div>

        <div class="form-group">
            @Html.Label("Descripcion")
            @Html.TextBoxFor(m => m.descripcion)
        </div>




        <button type="submit" class="btn btn-primary">Crear Producto</button>
    }
</div>

<script>
        $(document).ready(function () {
            console.log("DOM listo y script cargado");

            $('#TipoProducto').change(function () {
                console.log("Evento change activado");
                var idTipo = $(this).val();
                console.log("ID seleccionado:", idTipo);

                $('#Categoria').empty();
                $('#Categoria').append($('<option>').text('Cargando...').attr('disabled', true));

                if (idTipo) {
                    $.getJSON('@Url.Action("ObtenerCategoriasPorTipo", "GestionCarta")', { idTipoProducto: idTipo }, function (data) {
                        console.log("Categorías recibidas:", data);

                        $('#Categoria').empty();
                        $('#Categoria').append($('<option>').text('Seleccione una Categoría').attr('value', ''));

                        $.each(data, function (i, item) {
                            $('#Categoria').append($('<option>', {
                                value: item.idCategoria,
                                text: item.nombre
                            }));
                        });
                    });
                }
            });
        });
</script>