@model IEnumerable<SistemaWebEficienciaOperativa.Models.ViewModels.ProductoDTO>
@{
    ViewBag.Title = "ListarProductos";
}

<h2>ListarProductos</h2>

@* MOSTRAR EN FORMA DE TABLA *@

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td>IdProducto</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Categoria</td>
            <td>Tipo</td>
            <td>Medida</td>
        </tr>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.NombreProducto</td>
                <td>@producto.Descripcion</td>
                <td>@producto.CategoriaNombre</td>
                <td>@producto.TipoProductoNombre</td>
                <td>@producto.TipoMedidaNombre</td>
            </tr>
        }
    </table>
</div>


@* MOSTRAR EN FORMA DE TARJETAS *@

@foreach (var producto in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@producto.NombreProducto</h5>
            <p class="card-text"><strong>ID:</strong> @producto.IdProducto</p>
            <p class="card-text"><strong>Descripción:</strong> @producto.Descripcion</p>
            <p class="card-text"><strong>Categoría:</strong> @producto.CategoriaNombre</p>
            <p class="card-text"><strong>Tipo:</strong> @producto.TipoProductoNombre</p>
            <p class="card-text"><strong>Medida:</strong> @producto.TipoMedidaNombre</p>
        </div>
    </div>
}
