@model IEnumerable<SistemaWebEficienciaOperativa.Models.ViewModels.GestionEmpleadoIndexViewModel>

@{
    ViewBag.Title = "Gestión de Empleados";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>Correo Electrónico</th>
            <th>DNI</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                <td>
                    @Html.ActionLink("Administrar Horarios", "Horarios", new { idUsuario = item.IdUsuario }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Editar", "Editar", new { idUsuario = item.IdUsuario }, new { @class = "btn btn-info btn-sm" })
                    @* Aquí podrías agregar más acciones como Editar Usuario, etc. *@
                </td>
            </tr>
        }
    </tbody>
</table>